.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 1rem 2rem; */
}
.cards .card {
  width: 80%;
  height: auto;
  margin: 1rem 0rem;
  background-color: #212529;
  color: white;
  border-radius: 5px;
  padding: 0rem 1rem;
  cursor: pointer;
}
.cards .card > div {
  margin: 0.5rem 0rem;
  padding: 0rem 0.5rem;
}

.card .name {
  font-size: 20px;
}
.card .description,
.price {
  font-size: 18px;
  display: flex;
  align-items: center;
}
.cards .card .image {
  width: 100%;
  height: 250px;
}
.cards .card .image img {
  width: 100%;
  height: 100%;
}
.card:hover {
  transform: scale(102%);
}
@media screen and (min-width: 500px) and (max-width: 770px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 2rem 0rem;
  }
  .cards .card {
    width: 90%;
    margin: 0rem 0.5rem;
  }
  .cards .card > div {
    margin: 1rem 0rem;
  }
  .cards .card .image img {
    width: 100%;
  }
}
@media screen and (min-width: 770px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 2rem 0rem;
  }
  .cards .card {
    width: 90%;
    margin: 0rem 0.5rem;
  }
  .cards .card > div {
    margin: 1rem 0rem;
  }
  .cards .card .image img {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 2rem 0rem;
  }
  .cards .card {
    width: 80%;
    height: 100%;
    margin: 0rem 0.5rem;
  }
  .cards .card > div {
    margin: 0.5rem 0rem;
  }
  .cards .card .image {
    width: 100%;
  }
  .cards .card .image img {
    width: 100%;
  }
}
