@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--Background);
}

:root {
  --Background: #f8f9fa;
  --Text: #212529;
  --Btn: #343a40;
}
.container {
  width: 100%;
  min-height: 100vh;
}

.form-group textarea {
  width: 100%;
  outline: none;
}

.form-group .drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

.form-group .images::-webkit-file-upload-button {
  display: inline-flex;
  align-items: center;
  height: 40px;
  margin: 0.2rem 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: #212529;
  color: var(--Background);
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  /* DEtails Page */
  .cardDetail {
    width: 100%;
    /* background-color: aqua; */
  }
  .btn-block {
    display: flex;
    justify-content: space-between;
  }
  .btn-block .backbtn {
    width: 110px;
    height: 50px;
    padding: 0rem 0.5rem;
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
  }

  .productDetails {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .productDetails > div {
    width: 100%;
    height: auto;
    /* color: white; */
  }

  .productDetails .image {
    background-color: var(--Text);
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 2rem;
  }

  .productDetails .image img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    /* margin: 0.5rem; */
  }

  .product-details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .product-details > div {
    padding: 0rem 0rem;
    margin: 0rem 2rem;
  }
  .product-details .name {
    font-size: 30px;
    font-weight: 700;
  }
  .btns {
    display: flex;
    margin: 5rem 0rem;
  }

  .btns .submit {
    margin: 5rem 0rem;
  }

  .btns .btn {
    width: 100%;
    margin: 0rem 0.5rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btns .quantity {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid black;
    margin: 0rem 0.5rem;
    border-radius: 10px;
  }
}

@media screen and (min-width: 767px) {
  /* DEtails Page */
  .cardDetail {
    width: 100%;
    /* background-color: aqua; */
  }
  .btn-block {
    display: flex;
    justify-content: space-between;
  }
  .btn-block .backbtn {
    width: 110px;
    height: 50px;
    padding: 0rem 0.5rem;
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
  }

  .productDetails {
    width: 100%;
    height: auto;
    display: flex;
  }
  .productDetails > div {
    width: 100%;
    height: auto;
    margin: 2rem 2rem;
    /* color: white; */
  }

  .productDetails .image {
    background-color: var(--Text);
    width: 50rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }

  .productDetails .image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* margin: 0.5rem; */
  }

  .product-details {
    width: 100%;
    height: 25rem;
  }
  .product-details > div {
    padding: 0rem 0.5rem;
    margin: 0.5rem 0rem;
  }
  .product-details .name {
    font-size: 30px;
    font-weight: 700;
  }
  .btns {
    display: flex;
    margin: 1rem 0rem;
  }

  .btns .btn {
    width: 100%;
    margin: 0rem 0.5rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btns .quantity {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid black;
    margin: 0rem 0.5rem;
    border-radius: 10px;
  }
  .btns .submit {
    margin: 0rem 0.5rem 0.5rem 0rem;
  }
}

.nav-link {
  position: relative;
}
.icon {
  font-size: 25px;
}
.number {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--Background);
  color: var(--Text);
  padding: 0.25rem 0rem;
}

@media screen and (max-width: 767px) {
  .number {
    padding: 0rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
  }
}
