@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--Background);
}

:root {
  --Background: #f8f9fa;
  --Text: #212529;
  --Btn: #343a40;
}
.container {
  width: 100%;
  min-height: 100vh;
}

.form-group textarea {
  width: 100%;
  outline: none;
}
